<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>actionClientes</servlet-name>
        <servlet-class>servlets.actionClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionProfesionales</servlet-name>
        <servlet-class>servlets.actionProfesionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionLogin</servlet-name>
        <servlet-class>servlets.actionLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>actionLogin</servlet-name>
        <url-pattern>/actionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionClientes</servlet-name>
        <url-pattern>/actionClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionProfesionales</servlet-name>
        <url-pattern>/actionProfesionales</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
